// STYLES CORRESPONDANT À DES ÉLÉMENTS RÉUTILISABLES

.formulaire {

    // DISPOSITION INTERNE
    padding: 20px;

    // DECORATIONS
    border: 2px solid black;

    // DIMENSION
    width: 400px;
}